/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-alps-gutenberg-blocks-content-expand {
  background: $c-gray--light;
  color: $c-black;
  padding: $pad;
  border-left: 1px solid $c-black;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .o-kicker {
    margin-right: $pad / 2;
  }

  p {
    flex: 100%;
    flex-grow: 2;
  }
}
