/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-alps-gutenberg-blocks-cta {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(78, 100, 142, 0.15);

  &__settings {
    margin-left: 16px;
  }
}

.o-buttons {
  display: flex;
  padding-top: $pad;

  > * {
    width: 50%;

    &:first-child {
      padding-right: 28px;
    }

    &:last-child {
      padding-left: 28px;
      border-left: 1px solid #CCD5DE;
    }
  }
}
