/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-styles-wrapper ul.wp-block-alps-gutenberg-blocks-image-2up {
  margin: 0;
  padding: 0;
}

.wp-block-alps-gutenberg-blocks-image-2up {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(78, 100, 142, 0.15);

  @media (min-width: 701px) {
    margin-left: 0;
  }

  @media (min-width: 1301px) {
    margin-left: 0;
  }

  .blocks-gallery-item {
    display: none;
  }

  .blocks-gallery-item:nth-child(2),
  .blocks-gallery-item:nth-child(3) {
    display: block !important;
    width: 30%;
  }

  .blocks-gallery-item .editor-rich-text {
    position: relative;
  }

  .blocks-gallery-item .is-selected {
    border: 1px solid $c-black;
    border-radius: 3px;
    outline: none;
    outline-offset: 0;

    .editor-rich-text {
      width: 100%;
      left: 0;
      margin-top: 0;
    }
  }

  li {
    border: 1px solid $c-gray--light;
    margin: ($space / 2) 0;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    margin: 0 auto;
    padding: 2px;
    display: block;
  }

  figcaption {
    padding: $pad / 2;
    text-align: left;
  }
}
