/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-alps-gutenberg-blocks-image-2up {
  @media (min-width: 700px) {
    margin-left: calc((100vw / 7) * -1);
  }
  .single-post & {
    @media (min-width: 901px) {
      margin-left: 0;
    }
  }

  @media (min-width: 1301px) {
    margin-left: calc((100vw / 7) * -1);
  }
}

body.hide-sabbath .wp-block-alps-gutenberg-blocks-image-2up {
  .l-grid--7-col .l-grid-item--m--3-col {
    @media (min-width: 700px) {
      width: 50%;
    }
  }
  margin-left: calc((100vw / 7) * -1);

  @media (min-width: 700px) {
    margin-left: 0;
  }

  @media (min-width: 1301px) {
    margin-left: calc((100vw / 7) * -1);
  }
}
