/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


.wp-block-alps-gutenberg-blocks-image-breakout {
  @media (min-width: 700px) {
    margin-left: calc((100vw / 7) * -1);
  }
}

body.hide-sabbath .wp-block-alps-gutenberg-blocks-image-breakout {
  @media (min-width: 500px) {
    margin-left: calc((100vw / 7) * -1);
  }

  @media (min-width: 700px) {
    margin-left: 0;
  }

  @media (min-width: 900px) {
    margin-left: calc((100vw / 7) * -1);
  }
}

figure.wp-block-image img {
  width: 100%;
  height: auto;
}
