@import "src/common";
/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-alps-gutenberg-blocks-media-testimonies {
  width: 100% !important;
  margin-left: 0 !important;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(78, 100, 142, 0.15);

  .o-editor-heading {
    display: flex;
    flex-wrap: wrap;
    background-color: $c-gray--light;
    padding: $space;

    h3 {
      margin-right: $space;
      border-left: 4px solid;
      padding-left: $space;
    }
  }
}
