/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-alps-gutenberg-blocks-media-testimony {
  width: 100% !important;
  margin-left: 0 !important;
  border: 1px solid #F3F4F6;
  border-top: 10px solid #F3F4F6;
  box-sizing: border-box;
  border-radius: 4px;

  > * {
    width: 100%;
    padding: $space;
    background-color: white;
  }

  strong {
    margin-top: $space;
    display: block;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: $space !important;
  }
}
