/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

/**
 * Neutral Colors
 */

$c-black: #000000;
$c-gray--darker: #222222;
$c-gray--dark: #4a4a4a;
$c-gray: #717171;
$c-gray--light: #f5f5f5;
$c-white: #ffffff;

$c-blue: #8EA4C7;

/**
 * Default Spacing/Padding
 */

$space: 1.25rem;
$pad: 1.25rem;
